*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brand: #21243d;
    --white: #ffffff;
  }
/*--Navber-Start--*/
nav{
    background: #21243d;
}
.nav-link{
    color: white;
    font-weight: 550;
    margin: 0 16px;
    font-size: 16px;
}
/*--Navber-End--*/

/*--Hero-Start--*/
.hero{
    background: linear-gradient(rgba(36, 34, 34, 0.623), rgba(34, 31, 31, 0.603)), url(img/bg.jpg) no-repeat;
    width: 100%;
    height: 712px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 2;
    /* padding-top: 150px; */
    display: grid;
    align-items: center;
}
.title{
    /* margin-top: 30%; */
    color: white;
}
.title a{
    background-color: var(--brand);
    border: none;
    color: white;
    font-weight: 550;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}
/*--populer-menu--*/
.populer-menu{
    background: url(img/populer.jpg);
    width: 100%;
    height: 794px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 2;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.header p{
    text-align: center;
    color: white;
}
.card{
    background: none;
    border: none;
    color: white;
    margin: 8px 0;
}
.card-body img{
    text-align: center;
}
.card-text{
    font-size: 12px;
}
/*---order---*/
.order{
    background-image: url(img/bg2.jpg);
    width: 100%;
    height: 798px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 2;
    display: grid;
    justify-content: center;
    align-items: center;
}
/* #new-order{
    padding-top: 150px;
} */
#title h1{
    color: var(--brand);
    font-weight: 600;
}
#title p{
    color: var(--brand);
}
/*---statistis---*/
.statistis{
    background-image: url(img/bg3.jpg);
    width: 100%;
    height: 792px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 2;
    display: grid;
    justify-content: center;
    align-items: center;
}
.store{
    text-align: center;
    color: var(--white);
    border: 3px solid white;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.store span{
    font-weight: 800;
    font-size: 36px;
}
/*------------------*/
.order2{
    background-image: url(img/bg4.jpg);
    width: 100%;
    height: 794px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 2;
    display: grid;
    justify-content: center;
    align-items: center;
}
.img-end img{
    float: right; /* Floats the image to the right */
}
.new-order{
    padding-top: 150px;
}
/*--testimonials-*/
.testimonials{
    background-image: url(img/bg5.jpg);
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 2;  
}
.testi{
    color: var(--white);
}

/*--Subscribe---*/
.subscribe{
    background: url(img/subscrib.jpg);
    width: 100%;
    height: 769px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: grid;
    justify-content: center;
    align-items: center;
}
.subscribe h2{
    font-size: 48px;
    color: var(--brand);
}
.s_title input{
    height: 42px;
    width: 70%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.s_title button{
    border: none;
    padding: 0 29px;
    margin-left: -24px;
    background-color: var(--brand);
    border-radius: 50px;
    color: white;
    font-weight: 600;
}

/*----Footer----*/
footer{
    background-color: #111111;
    padding: 94px 0;
    color: white;
}
footer h6{
    font-size: 24px;
    color: white;
    margin-bottom: 14px;
}
.icon i{
    color: black;
    /* padding: 8px; */
    width: 36px;
    height: 36px;
    text-align: center;
    justify-content: center;
    line-height: 36px;
    background-color: white;
    border-radius: 100px;
    margin: 0 5px;
    font-size: 23px;
}
footer ul {
    padding-left: 0;
    margin-left: 0;
}

footer ul li {
    list-style: none;
    text-align: left;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    text-decoration: none;
    color: white;
}
.d-sm-none{
    display: block;
}




@media (max-width: 768px){
    .populer-menu, .order, .statistis, .order2{
        height: auto;
        padding: 36px 0;
    }
    .order{
        height: auto;
    }
    .center-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%; /* Ensures the image doesn't exceed its container's width */
        height: auto; /* Allows the image to maintain its aspect ratio */
    }
    .img-end img{
      float: right !important;
    }
    /* .d-sm-none{
        display: none;
    } */
}